body {
	background-color: aliceblue;
}

ul {
	margin: 0;
}


.item time {
	float: right;
	margin-left: .5em;
	font-size: .7em;
}

#timeline {
	position: absolute;
	width: 15%;
	left: 5%;
	top: 4em;
}

#timeline time {
	font-family: sans-serif;
	margin-left: 5%;
	display: block;
	text-align: right;
	font-size: .9em;
	padding-right: 30%;
}

#timeline time.year {
	font-size: 1.2em;
	text-align: right;
	line-height: 1em;
}


#present {
	margin-bottom: 2em;
	text-align: right;
}


#middle {
	position: absolute;
	left: 20%;
	top: 2em;
	font-family: sans-serif;
	width: 45%;
}


header {
	position: relative;
	height: auto;
	border-bottom: teal thin solid;
}

#name-art-access ul {
	padding: 0;
}

#name-art-access ul li {
	position: relative;
	display: inline;
	list-style-type: none;
	padding: 0;
}

#name-art-access li#name {
	font-size: 3vw;
}

#name-art-access ul li.art {
	position: relative;
	left: 12%;
	font-size: 2vw;

}

#name-art-access ul li.access {
	position: relative;
	left: 25%;
	font-size: 2vw;
}


#contact-info ul {
	padding: 0;
}

#contact-info ul li {
	position: relative;
	display: inline;
	margin-right: 1em;
	font-size: .9vw;
}

ul.no-bull li {
	display: inline;
}

ul.no-bull {
	padding: 0;
}

span.inst {
	font-size: 1.2em;
	font-weight: bold;
}

span.location {
	font-style: italic;
	font-size: .9em;
}

ul.no-bull li.focus {
	display: block;
	text-indent: 1em;
}

ul.bullets {
	display: block;
	list-style-type: disc;
}

main {
	position: relative;
}

.item {
	padding-top: 1%;
	padding-bottom: 1%;
	border-top: blue thin solid;
	border-bottom:blue thin solid;
}

.item:hover {
	background-color: white;
	border-top: purple thin solid;
	border-bottom: purple thin solid;
}

.highlight {
	background-color: gainsboro;
	border-top: purple thin solid;
	border-bottom: purple thin solid;
}

.highlight:hover {
	background-color: gainsboro;
	border-top: purple thin solid;
	border-bottom: purple thin solid;
}

#right {
	position: absolute;
	width: 28%;
	margin-left: 2%;
	left: 65%;
	top: 4em;

}


.more {
	width: 100%;
	background-color: gainsboro;
	height: 50em;
	position: absolute;
	display: none;
	border-color: purple;
	border-style: solid;
	border-top-width: thin;
	border-bottom-width: thin;
	border-left-width: 0;
	border-right-width: 0;
}

#lines {
	position: absolute;
}
